<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mybatisConfig">

	<select id="selectAll" resultType="java.util.Map">
		select 	
			*
		from customer 
		where 1=1
		order by id
	</select>
	<select id="searchCorp" resultType="java.util.Map" parameterType="String">
		select 	
			*
		from customer 
		where 1=1
		AND corporate = #{corporate}
		order by id
	</select>

	<update id="updateData">
		update customer
		set date = now()
		<if test="maket_sort != null and maket_sort != ''">
		,maket_sort = #{maket_sort}
		</if>
		<if test="corporate != null and corporate != '' ">
		,corporate = #{corporate}
		</if>
		<if test="indus_sort != null and indus_sort != '' ">
		,indus_sort = #{indus_sort}
		</if>
		<if test="core_corp != null and core_corp != '' ">
		,core_corp = #{core_corp}
		</if>
		<if test="inter_corp != null and inter_corp != '' ">
		,inter_corp = #{inter_corp}
		</if>
		<if test="corp_sort != null and corp_sort != '' ">
		,corp_sort = #{corp_sort}
		</if>
		where id=#{id}
	</update>
	
	<insert id="insertData" >
		insert into customer
		(corporate,inter_corp,core_corp,corp_sort,indus_sort,maket_sort,date) 
		values
		(#{corporate},#{inter_corp},#{core_corp},#{corp_sort},#{indus_sort},#{maket_sort},now())
	</insert>
	
	<delete id="deleteData" >
		delete from customer
		where id=#{id}
	</delete>
	
	

</mapper>